

<h2 class="text-center p-4">Noten</h2>


<div class="row pb-3">
	<div class="col-1"></div>
	<button class="btn btn-primary col-2">Suchen</button>
	<div class="col-2"></div>
	<input class="col-6" />
</div>

<table class="table mt-4">
	<thead>
		<tr>
			<th>Schüler</th>
			<th>Fach</th>
			<th>Note</th>
			<th>Datum</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Max Muster</td>
			<td>Mathematik</td>
			<td>5.5</td>
			<td>12.05.2024</td>
		</tr>
		<tr>
			<td>Anna Beispiel</td>
			<td>Englisch</td>
			<td>4.0</td>
			<td>10.05.2024</td>
		</tr>
		<tr>
			<td>Peter Demo</td>
			<td>Physik</td>
			<td>3.5</td>
			<td>11.05.2024</td>
		</tr>
	</tbody>
</table>