

<h2 class="text-center">Posteingang</h2>

<ul>
	<li>
		<div class="container mt-4">
			<div class="card border-danger">
				<div class="card-header bg-danger text-white">
					Note abgelehnt
				</div>
				<div class="card-body">
					<p class="card-text">
						<strong>Schüler Name:</strong> Max Mustermann<br>
						<strong>Modul:</strong> Mathematik<br>
						<strong>Prorektor:</strong> Dr. Müller<br>
						<strong>Nicht verspätet:</strong> Ja<br>
						<strong>Note:</strong> 6<br>
						<strong>Begründung:</strong>Ich konnte leider diese Note nicht akzeptieren, da die Anforderungen nicht erfüllt wurden!<br />
						<span class="badge bg-danger">Note abgelehnt</span><br />
					</p>
				</div>
			</div>
		</div>
	</li>
	<li>
		<div class="container mt-4">
			<div class="card border-success">
				<div class="card-header bg-success text-white">
					Note Akzeptiert
				</div>
				<div class="card-body">
					<p class="card-text">
						<strong>Schüler Name:</strong> Max Mustermann<br>
						<strong>Modul:</strong> Mathematik<br>
						<strong>Prorektor:</strong> Dr. Müller<br>
						<strong>Nicht verspätet:</strong> Ja<br>
						<strong>Note:</strong> 6<br>
						<strong>Begründung:</strong>Die Note wurde akzeptiert und hinzugefügt!<br />
						<span class="badge bg-success">Note Akzeptiert</span>
					</p>
				</div>
			</div>
		</div>
	</li>
</ul>

